# Name: Plugin Test
# Author: Merijn van Erp
# Version: 1.0.0

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>MCWatershed, "Create Marker Images 3D", Create_Marker_Images_3D 
Plugins>MCWatershed, "Marker controlled watershed 3D", Marker_Controlled_Watershed_3D
Plugins>MCWatershed, "Feature Extractor 3D", featureextractor.Feature_Extractor_3D


